.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

iframe {
  pointer-events: none;
  display: none;
}

.spinner-overlay-container {
  padding: 260px 0;
}

.bulk-import-sample-csv-button {
  margin-top: 16px;
  padding-left: 0 !important;
}

.delete-form-list-item-button {
  margin-top: 28px;
  /* font-size: 22px; */
}

.product-variant-form-item {
  margin-bottom: 10px !important;
}

.hidden {
  display: none;
}